<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head"></head>
<body>
<header th:replace="/fragments/header :: header"></header>
<main class="container-md mt-lg-5"><div>
  <h1>About Us</h1>
</div>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nobis eligendi accusamus id dolorum ipsa eveniet quisquam quam illo corrupti ipsum eum nemo obcaecati numquam sapiente expedita exercitationem fugiat maiores eos ullam minima, asperiores aperiam libero ratione? Sapiente quia necessitatibus asperiores corporis quis! Deleniti perferendis eum aliquid eligendi tempora laborum nemo ratione? Placeat cumque aliquam distinctio, inventore odit repudiandae eum minus expedita hic eaque error eos, laudantium suscipit alias a nulla quaerat unde! Similique rerum cupiditate quisquam sequi velit, distinctio dicta. Laborum, soluta deleniti ullam quaerat quisquam fuga expedita, et ipsa omnis, molestiae incidunt quo cupiditate aliquid vel sed accusamus!
</p>
</main>
<footer></footer>
</body>
</html>
